<html>
  <head>
    <style>
      body{ 
        font-size: 15pt;
        font-family: arial;
      }
    </style>
    <!--      <link rel="stylesheet" href="">   PLACE FOR A MORE SIGNIFICANT STYLESHEET    -->
  </head>
  
  

  <body>
    <h1>Welcome, What you see on top is the index, this should be the same for everypage past the login gate</h1>
    <p><a href="/another">Go to the other page</a></p>
    <hr>
    <div>
        {% block content %}
        {% endblock %}
      </div>
  </body>
</html>
