<html>
    <head>


       <!--      <link rel="stylesheet" href="">   PLACE TO LINK STYLESHEET    -->
       <title>The Money App</title>
    </head>

    <body>
        <h1>Welcome to our money App</h1>
        <p>One day, this will be the login page. For now, it is blank</p>
        <p>In the meantime, click "submit" below, and see what happens.</p>
        <form method="POST" action="/user">
            <p>Login with the default name: <input type="text" name="login" value="jjoe00"> <input type="submit"></p>
        </form>
    </body>


</html>