
{% extends "index.html" %}

{% block content %}
<h1>Welcome, {% for n in welcomeName %} {{n}} {% endfor %}</h1>
<br>

<!--<h1>Some famous Computer Scientists</h1>
<div>{{data}}</div>

 <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->
  
<h1>Tracking Accounts</h1>
<div>
  {% for n in trackAcc %}
    <a href = "/user/{{n}}">{{n}}</a><br>  
  {% endfor %} 
</div>
<br>
<h1>Payment/Deposit Options</h1>
<div>
  {% for n in payOpt %}
    <div>{{n}}</div>
  {% endfor %}
</div>

 
  {{cursorKeys}}

  {% for n in test %}
    <div>{{n}}</div>
  {% endfor %}
<p><a href="/another">Go to the other page</a></p>
<!---->
<!--<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->


{% endblock %}